<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="form-signin">
    <img class="mb-4" th:src="@{img/my.svg}" alt="" width="80" height="80">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <label class="sr-only">用户名</label>
    <input type="text" name="username" id="username" class="form-control" th:placeholder="用户名" required="required" autofocus="">
    <p class=""></p>
    <label class="sr-only">密码</label>
    <input type="password" name="password" id="password" class="form-control" th:placeholder="密码" required="required" >
    <button class="btn btn-lg btn-primary btn-block" th:onclick="loginIn()">登录</button>
</div>
</body>

<script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
    function loginIn() {
        debugger;
        var username = $('#username').val();
        var password = $('#password').val();
        if(""==username || ""==password){
            alert("用户信息不完整，请检查！");
            return;
        }
        $.ajax({
            url: '/loginIn',
            type: "post",
            data: {'username': username, 'password': password},
            success: function (data) {
                if (data.success) {
                    //alert(data.message);
                    localStorage.setItem("token",data.data.msg);
                    location.href = "/index"; //  window.location.href 不生效 检查是否为form 表单
                } else {
                    alert(data.message)
                }
            },
            error: function () {
                alert("登录失败")
            }
        });
    }
</script>


</html>
